<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE LOGIN</title>
</head>
<body>
    <h2>CREATE LOGIN</h2>
    <form action="" method=''>
        Create User Name: <input type="text" name='userName' id='userName'> <br>
        Enter Password: <input type="password1" name='userPassword1' id='userPassword'> <br>
        Re-Enter Password: <input type="password2" name='userPassword2' id='userPassword'> <br>
        <input type="submit" name='submit' id='submit'>
    </form>
    
</body>
</html>