<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE LOGIN</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/userbar.css">
</head>
<body>
    <h2>CREATE LOGIN</h2>
    <form action="/users" method='POST'>
        Create User Name: <input type="text" name='userName' id='userName'> <br>
        Enter Password: <input type="password" name='userPassword1' id='userPassword1'> <br>
        Re-Enter Password: <input type="password" name='userPassword2' id='userPassword2'> <br>
        <input type="submit" name='submit' id='submit' value='CREATE'>
    </form>
    
</body>
</html>