<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/userbar.css">
</head>
<body>
    <h2>TOOL CRIB APP</h2>
    <p>This application is used to store machine shop tools in a database. These tools can be viewed by anyone but only users who have created a user account and are logged in can create, delete, or edit tools in the data base.</p>
    <a href="/tools"><button>VIEW INVENTORY</button></a>
    <a href="/users/new"><button>CREATE NEW USER</button></a>
    <a href="/sessions/new"><button>USER LOGIN</button></a>
    
</body>
</html>