<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Need Login</title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/userbar.css">
</head>
<body>
    <h1>LOGIN NEEDED</h1>
    <div>
        <p>User login in needed for tracking purposes. User must be logged in to create, edit, or delete tools from the database.</p>
    </div>
    <a href="/sessions/new"><button>LOGIN</button></a>
    
</body>
</html>